<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dan Keefe - {{page.title | capitalize }}</title>
		<link rel='shortcut icon' type='image/x-icon' href='/assets/images/octo.ico' />
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <script src="https://kit.fontawesome.com/9dcaef12f6.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/code-highlighting.css">
    <script defer src="/assets/scripts/script.js"></script>
  </head>
  <body>
    {% include navigation.html %}
    {{ content }}
  </body>
</html>