<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title | capitalize}}</title>
    <link rel='shortcut icon' type='image/x-icon' href='/assets/images/octo.ico' />
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/default.css">
    <link rel="stylesheet" href="/assets/css/code-highlighting.css">
    <script src="https://kit.fontawesome.com/9dcaef12f6.js" crossorigin="anonymous"></script>
  </head>
  <body>
    {% include navigation.html %}
    <section>
      {{ content }}
    </section>
  </body>
</html>